@model Credible.ViewModels.Registrants

@{
    ViewBag.Title = "Registrants";
}

<h2>Client Courses</h2>

<div>

    <table id="registrants" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>User Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Registration Date</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>
@section scripts
{
    <script>
        function GetURLParameter() {
            var sPageURL = window.location.href;
            var indexOfLastSlash = sPageURL.lastIndexOf("/");

            if (indexOfLastSlash > 0 && sPageURL.length - 1 != indexOfLastSlash)
                return sPageURL.substring(indexOfLastSlash + 1);
            else
                return 0;
        }

        $(document).ready(function () {
            var table = $("#registrants").DataTable({
                ajax: {
                    url: "/api/client/registrants/" + GetURLParameter(),
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "userId"
                    },
                    {
                        data: "firstName"
                    },
                    {
                        data: "lastName"
                      
                    },
                    {
                        data: "registrationDate",
                        render: function (data, type, reg) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                        }
                    }

                ]
            });



        });
    </script>
}